$color-principal: #0fbf8d;
$color-secundario: black;
$color-header-footer: #f5f6f6;

$header2: (
  tamano: 1.6rem,
  pad: 20px,
  margen: 30px 0px,
  bg-color: $color-principal,
  color-text: white,
);
