/*---------------- TESTIMONIOS ---------------------- */
.testimonio-texto {
  margin: 0px 200px;
  padding: 5px;
}
.testimonio-nombre {
  font-size: 1rem;
  font-weight: bolder;
  color: #0fbf8d;
  margin: 5px 0px 10px 0px;
  padding: 10px;
}
