/*---------------- TESTIMONIOS ---------------------- */
.testimonio-texto {
  margin: 0px 200px;
  padding: 5px;
}
.testimonio-nombre {
  color: $color-principal;
  @include prop-tex(bolder, 1rem, 10px, 5px 0px 10px 0px);
}
